#header{
width: 100%;
height: 12.5vh;

display: flex;
justify-content: center;

position: fixed;
top: 0;
left: 0;

transition: all .5s;

background-color: rgb(255, 93, 93);
}
.nav_bar{
width: 80%;
height: 100%;

display: flex;
justify-content: space-between;
align-items: center;
}
.nav_bar .logo{
width: 20%;
}
.nav_bar .logo figure{
width: 20%;
}
.nav_bar .logo figure img{
width: 100%;
min-width: 50px;
}
.nav_list{
width: 40%;
min-width: 450px;
height: 100%;

display: flex;
justify-content: space-between;
align-items: center;

list-style-type: none;
}
.nav_list a{
font: 1.2rem "Lobster";
text-decoration: none;

transition: all .3s;

color: black;
}
.nav_list a:hover{
color: white;
}
.burger{
display: none;
}
@media screen and (max-width: 800px){
.nav_list{
display: none;
}
.burger{
display: block;
width: 5%;
height: 100%;
}
div.hamburger-menu{
display: flex;
justify-content: center;
align-items: center;

width: 10%;
height: 100%;
}
div.hamburger-menu input#menu__toggle {
opacity: 0;
}
div.hamburger-menu input#menu__toggle:checked + .menu__btn > span {
transform: rotate(45deg);
}
div.hamburger-menu input#menu__toggle:checked + .menu__btn > span::before {
top: 0;

transform: rotate(0deg);
}
div.hamburger-menu input#menu__toggle:checked + .menu__btn > span::after {
top: 0;

transform: rotate(90deg);
}
div.hamburger-menu input#menu__toggle:checked ~ ul.menu__box {
right: 0 !important;
display: flex;
}
div.hamburger-menu label.menu__btn {
position: absolute;
z-index: 1;

width: 40px;
height: 26px;

cursor: pointer;
}
div.hamburger-menu label.menu__btn > span,
div.hamburger-menu label.menu__btn > span::before,
div.hamburger-menu label.menu__btn > span::after {
display: block;

position: absolute;

width: 100%;
height: 5px;

background-color: var(--secondary);

transition-duration: .25s;
}
div.hamburger-menu label.menu__btn > span::before {
content: '';
top: -16px;
}
div.hamburger-menu label.menu__btn > span::after {
content: '';
top: 16px;
}
div.hamburger-menu ul.menu__box {
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;

display: none;

position: absolute;
top: 0;
right: -100%;

width: 300px;
height: 100vh;

margin: 0;
            
list-style: none;

background-color: var(--primary);

transition-duration: .25s;
}
div.hamburger-menu ul.menu__box li{     
display: flex;
justify-content: center;
align-items: center;
}
div.hamburger-menu ul.menu__box li:first-child{
margin-top: 15%;
}
div.hamburger-menu ul.menu__box li a{
display: flex;
justify-content: center;
align-items: center;

position: relative;

width: 100%;

padding: 20px;

color: white;

font-family: 'Roboto', sans-serif;
font-size: 200%;

text-decoration: none;

transition-duration: .25s;

text-align: center;
}
.nav_listitem a::after{    
background: none repeat scroll 0 0 transparent;
bottom: 0;
content: "";
display: block;
height: 7px;
right: 0;
bottom: 0;
position: absolute;
background: var(--primary);
transition: 0.3s ease 0s, right 0.3s ease 0s;
width: 0;
}
.nav_listitem a:hover:after { 
width: 100%; 
}
li.contact_btn a::after{
height: 0;
}
}